<section class="project-detail" *ngIf="projectData">
    <a (click)="goBack()" class="back-button">&#10094;&nbsp; Back</a>
  
    <div class="project-wrapper">
      <div class="image-preview">
        <img [src]="projectData.image" [alt]="projectData.title + ' preview'" />
      </div>
  
      <div class="project-content">
        <h2 class="heading">{{ projectData.title }}</h2>
        <p class="subtitle">{{ projectData.subtitle }}</p>
        <p class="paragraph">{{ projectData.description }}</p>

        <button class="secondary-button-no-left-padding-copy">
          <a [href]="projectData.url" target="_blank" rel="noopener noreferrer">
          View {{ projectData.title }}</a>
        </button>
      </div>
    </div>
  </section>  
  