<nav class="navbar">
  <ul class="nav-links">
    <li><a href="#hero" class="nav-link" (click)="scrollTo('hero', $event)">Home</a></li>
    <li><a href="#work" class="nav-link" (click)="scrollTo('work', $event)">Work</a></li>
    <li><a href="#about" class="nav-link" (click)="scrollTo('about', $event)">About</a></li>
    <li><a href="#contact" class="nav-link" (click)="scrollTo('contact', $event)">Contact</a></li>
  </ul>
</nav>

<main class="scroll-container">
    <app-hero></app-hero>
    <app-work></app-work>
    <app-about></app-about>
    <app-contact></app-contact>
  </main>
  