<nav class="navbar">
  <ul class="nav-links">
    <li><a data-target="hero" href="#hero" class="nav-link">Home</a></li>
    <li><a data-target="work" href="#work" class="nav-link">Work</a></li>
    <li><a data-target="about" href="#about" class="nav-link">About</a></li>
    <li><a data-target="contact" href="#contact" class="nav-link">Contact</a></li>
  </ul>
</nav>

<main class="scroll-container">
    <app-hero></app-hero>
    <app-work></app-work>
    <app-about></app-about>
    <app-contact></app-contact>
  </main>
  