<section id="hero">
    <div class="hero-wrapper">
      <div class="hero-image">
        <img src="assets/amanda-illustration.png" alt="Amanda Illustration" />
      </div>
      <div class="hero-text">
        <h1 class="heading">Hello!</h1>
        <p class="paragraph margin-top-no margin-bottom-large">
          My name is Amanda.<br />
          I build things on the world wide web.
        </p>
        <a href="#work" class="secondary-button-no-left-padding-copy">View my work ↓</a>
      </div>
    </div>
  </section>
  