<section id="about">
    <div class="about-wrapper">
      <blockquote>
        "A jack of all trades is a master of none, but oftentimes better than a master of one."
      </blockquote>
  
      <div class="about-content">
        <h1>About Me</h1>
        <p>
          I’m a front-end developer who thrives at the intersection of the highly technical and the creative.
          Drawing from my background in data science and web development, I craft intuitive, interactive
          experiences that turn complex concepts into accessible, impactful solutions.
        </p>
        <p>
          My consulting journey through various industries and subject matters has equipped me with a broad
          toolkit enabling me to bring fresh perspectives and innovative designs to every project.
        </p>
        <button>VIEW INTERACTIVE RESUME</button>
      </div>
    </div>
  </section>
  